@import "../../../scss/variables";

.new-exercise {
  background-color: $primary !important;
  color: $text-white !important;

  &__code-editor {
    height: 300px;
  }

  &__test {
    &--adder-container {
      flex-direction: column;
    }

    &--adder-button {
      align-self: flex-end;
    }

    &--item {
      justify-content: space-between;
      align-items: center;
      background-color: $primary-dark;
      padding: 0.55rem 0.75rem;
      height: fit-content;
      width: 100%;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background-color: $primary-light;
      }

      &--delete {
        color: $border-grey;

        &:hover {
          color: $red;
        }
      }
    }
  }

  .form-control {
    background-color: $primary !important;
    color: $text-white !important;
    border-color: $primary !important;
    border-bottom: 1px $light-grey solid !important;
    border-radius: 0px !important;
    padding-left: 0px !important;
    font-size: 1.25rem !important;

    &:focus {
      border-color: $primary !important;
      box-shadow: none !important;
      border-bottom: 1px $secondary solid !important;
    }
  }

  .close {
    color: $text-white;
    text-shadow: none;
    &:hover {
      color: $red;
    }
  }

  .vue-treeselect {
    //background-color: $primary !important;
    height: 100%;
    &__control,
    &__menu,
    &__option {
      background-color: $primary !important;
      color: $text-white !important;
      border: none !important;
    }

    &__control {
      border-bottom: 1px solid $secondary !important;
      font-size: 1.5rem;
    }

    &__menu {
      max-height: none !important;
      margin-top: 1rem;
    }

    &__option {
      font-size: 1.25rem;
      &--selected {
        color: $secondary !important;
      }
    }

    &__single-value {
      color: $text-white !important;
    }

    input {
      color: $text-white !important;
    }
  }
}
