@import "../../scss/variables";

.console {
  background-color: $primary;
  width: 97.5%;
  height: 100%;
  overflow: auto;
  margin: 0.5rem;

  &__list {
    padding-top: 2%;
    font-size: 0.9em;
  }

  &__trash-bin {
    float: right;
    margin-right: 1%;
    cursor: pointer;
  }

  .error {
    color: red;
  }

  .log {
    color: greenyellow;
  }
}
