@import "../scss/variables";

body {
  margin: 0px;
}

a {
  color: $secondary-dark !important;
}

.main-container {
  background-color: $primary;
  width: 100%;
  height: 100vh;
  color: white;
}

.partition-title {
  box-sizing: border-box;
  padding: 30px;
  width: 100%;
  text-align: center;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 350;
  color: black;
}

#google-icon {
  width: 150px;
  height: 150px;
  margin-left: 24%;
  border-radius: 30px;
}

#google-icon:hover {
  background-color: $primary;
}

.vm--overlay {
  background: white;
}

.login-modal {
  color: black;
}
