@import "../scss/variables";

.middle-container {
  position: fixed;
  left: 61px;
  top: 48px;
  right: 0px;
  bottom: 0px;
  height: auto;
  z-index: 9;

  &__title-background {
    background-color: $primary-light;
    padding: 0.5rem;
    height: 100%;
    overflow-y: scroll;
  }

  &__lower {
    background-color: $primary;
    height: 100%;
  }

  .splitter-pane-resizer.vertical {
    width: 2px !important;
    border-left: 1px solid $border-grey !important;
    border-right: 1px solid $border-grey !important;
    background: $border-grey !important;
  }

  .splitter-pane-resizer.horizontal {
    height: 3px !important;
    border-top: 1px solid $border-grey !important;
    border-bottom: 1px solid $border-grey !important;
    background: $border-grey !important;
  }

  .ace-dracula {
    background: $primary;
  }

  .test-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    color: white;
    width: 100%;
    height: 50px;
    background-color: $primary-down;

    &__name {
      margin: 0px;
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        color: $border-grey;
        margin: 0px;
        cursor: pointer;
        width: fit-content;

        &:hover {
          color: white;
        }
      }
    }

    &__state {
      &--passed {
        color: $secondary;
      }

      &--not-passed {
        color: #fbc02d;
      }

      &--not-executed {
        color: $border-grey;
      }
    }
  }

  .card-icon {
    width: 25px;
    height: 25px;
    margin-left: 10%;
    cursor: context-menu;
  }

  .test-name {
    text-align: center;
  }

  .small {
    flex-grow: 1;
  }

  .large {
    font-weight: 600px;
    font-size: 16px;
    flex-grow: 5;
  }

  .card-play {
    width: 20px;
    height: 20px;
    color: $border-grey;
    cursor: pointer;
    &:hover {
      color: $green-play;
    }
  }

  .test-play-all {
    width: 100%;
    padding: 0.5rem;
    text-align: center;
    border-radius: 0.25rem;
    border: 1px solid $border-grey;
    color: $border-grey;
    cursor: pointer;

    &:hover {
      color: white;
      background-color: $secondary-dark;
      border: 1px solid $secondary-dark;
    }
  }

  .scrollable {
    overflow: auto;
    max-height: 60vh;
  }
}

.editor-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: stretch;
}

.flex-item {
  flex-grow: 1;
}

.myMarker {
  position: absolute;
  background: rgba(255, 98, 221, 0.3);
  z-index: 20;
}

.hoverable:hover{
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.2);
  cursor: pointer;
}

.main-split-pane-hide {
  > .splitter-pane-resizer {
    display: none;
  }
}

.main-split-pane-show {
  > .splitter-pane-resizer {
    display: block;
  }
}

.tabs {
  height: 100%;
  max-height: 100%;
  .tab-pane {
    height: 100%;
    max-height: 100%;
  }
}

.nav-tabs {
  border: none !important;
  .nav-item {
    background-color: $primary !important;
    .nav-link {
      background-color: $primary !important;
      border: none !important;
      color: $border-grey !important;
      &:hover {
        color: white !important;
      }
      &:focus {
        border: none !important;
        outline: none !important;
      }
    }
    .active {
      background-color: $primary !important;
      color: white !important;
      &:hover {
        color: white !important;
      }
    }
  }
}

.test-container {
  padding-bottom: 1rem;
}

.test-container-cards {
  overflow-y: scroll;
}
