@import "../scss/variables";

.top-header {
  background-color: $primary;

  nav {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 8px;
    height: 48px;
    border-bottom: 1px solid $border-grey;
  }

  &__logo {
    height: -webkit-fill-available;
    padding: 2px;
  }
}
