@import "../scss/variables";

.top-header {
  background-color: $primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 8px;
  height: 48px;
  border-bottom: 1px solid $border-grey;

  &__logo {
    width: 50px;
    padding: 4px;
  }

  &__drop {
    button {
      background-color: transparent;
      border: none;
    }
    .dropdown-menu {
      background-color: $primary-dark;
      a {
        color: white;
      }
    }
  }

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      margin: 0px;
      cursor: pointer;
    }

    &--shows:hover {
      color: $secondary;
    }
  }

  &__controll {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 1rem;

    &-icon {
      margin: 0px 0.5rem;

      :hover {
        cursor: pointer;
      }

      &--play {
          color: $green-play;
      }

      &--play {
        :hover {
          color: white;
        }
      }

      &--slow {
        :hover {
          color: $yellow;
        }
      }

      &--debug {
        :hover {
          color: $secondary-light;
        }
      }

      &--next-step {
        :hover {
          color: $yellow;
        }
      }

      &--stop {
        :hover {
          color: $red;
        }
      }

      &--running {
        color: $yellow;
      }
    }
  }

  &__right {
    display: flex;
    justify-content: flex-end;
  }

  .btn-drop-down {
    button {
      background-color: transparent;
      border: none;
      box-shadow: none;
      color: $border-grey;
    }

    .dropdown-menu {
      background-color: $primary-down;

      .dropdown-item {
        background-color: $primary-down;
        color: white !important;

        &:hover {
          color: $secondary !important;
        }
      }
    }
  }
}

.subitem {
  margin-left: 15px;
  font-size: 12px;
}

.b-dropdown {
  background-color: transparent !important;
  border: none !important;
}

.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
  background-color: transparent !important;
  border: none !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
