$primary: #162231;
$primary-dark: #000019;
$primary-light: #47556a;

$secondary: #00fec2;
$secondary-dark: #00ca92;
$secondary-light: #6dfff5;

$dark-grey: #4d4d4d;
$light-grey: #f8f8f8;

$border-grey: rgba(255, 255, 255, 0.5);
