$primary: #162231;
$primary-dark: #111b27;
$primary-light: #47556a;
$primary-down: #1b2b3d;

$secondary: #00fec2;
$secondary-dark: #00ca92;
$secondary-light: #6dfff5;

$text-white: #ffffff;

$dark-grey: #4d4d4d;
$light-grey: #f8f8f8;

$red: #ff4500;

$border-grey: rgba(255, 255, 255, 0.5);
